body{
  font-family: "Arial";
  background-color: #e6b3c9;
}
p {
  border-bottom: 2px solid black;
}
figure {
  float: left;
  width: 25%;
}
.clear {
  clear: both;
}
.item {
  border: 5px solid black;
}
table, th, td {
  border: 1px solid black;
  padding: 2px;
  border-collapse: collapse;
  background-color: white;
}
td {
  text-align: right;
}
input[type=number]{
    width: 75px;
}
